<main id="main" aria-role="main">
  <section class="hero is-medium is-dark is-fullheight">
    <div class="hero-head"></div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title"><%= link_to "#{URI(site_url).host}/webmentions", webmentions_path, class: 'has-text-light' %></h1>
        <h2 class="subtitle">This is the <a href="https://www.w3.org/TR/webmention/#w3c-recommendation-12-january-2017">Webmention</a> endpoint for content on <%= link_to site_name, site_url %></h2>
      </div>
    </div>
    <div class="hero-foot has-text-dark"><%= render 'site_footer' %></div>
  </section>
</main>
