<main id="main" aria-role="main">
  <section class="section">
    <div class="container pb-6">
      <%= render partial: 'partials/notifications' %>
      <div class="columns mt-4">
        <div class="column"></div>

        <div class="column is-three-fifths">
          <div class="card">
            <div class="card-content">
              <div class="container has-text-centered pb-4">
                <h1 class="title has-text-dark">New Shortlink</h1>
              </div>

              <%= form_for(@shortlink, url: dashboard_shortlinks_path) do |f| %>
                <%= render partial: 'shortlink_fields', locals: { f: f } %>

                <%= f.submit "Create shortlink", class: 'button is-primary is-large is-fullwidth' %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="column"></div>
      </div>
    </div>
  </section>
</main>
