<div class="card-header">
  <h1 class="card-header-title has-text-centered"><%= t('title', scope: 'doorkeeper.authorizations.show') %></h1>
</div>
<div class="card-content">
  <div class="content">
    <code id="authorization_code"><%= params[:code] %></code>
  </div>
</div>
