<main id="main" aria-role="main">
  <section class="hero is-medium is-dark is-fullheight">
    <div class="hero-head"></div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Not found</h1>
      </div>
    </div>
    <div class="hero-foot has-text-dark"><%= render partial: 'partials/site_footer' %></div>
  </section>
</main>
