<main id="main" aria-role="main">
  <section id="about" class="hero is-medium is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Nothing to see here!</h1>
        <h2 class="subtitle">This application powers dynamic content for <a href="https://tonyburns.net">tonyburns.net</a></h2>
      </div>
    </div>
  </section>
</main>