default: &default
  cache_manifest: false
  cache_path: tmp/cache/webpacker
  check_yarn_integrity: false
  extract_css: true
  public_output_path: packs
  public_root_path: public
  resolved_paths: []
  source_entry_path: packs
  source_path: app/javascript
  webpack_compile_output: true

  static_assets_extensions:
    - .eot
    - .gif
    - .ico
    - .jpeg
    - .jpg
    - .otf
    - .png
    - .svg
    - .tiff
    - .ttf
    - .woff
    - .woff2

  extensions:
    - .css
    - .gif
    - .jpeg
    - .jpg
    - .js
    - .mjs
    - .module.css
    - .module.sass
    - .module.scss
    - .png
    - .sass
    - .scss
    - .svg

development:
  <<: *default
  check_yarn_integrity: true
  compile: true

  dev_server:
    compress: true
    disable_host_check: true
    hmr: false
    host: localhost
    https: false
    inline: true
    overlay: true
    port: 3035
    pretty: false
    public: localhost:3035
    quiet: false
    use_local_ip: false
    headers:
      'Access-Control-Allow-Origin': '*'
    watch_options:
      ignored: '**/node_modules/**'


test:
  <<: *default
  compile: true
  public_output_path: packs-test

production:
  <<: *default
  cache_manifest: true
  compile: false
  extract_css: true
