<div class="content has-text-centered pb-6 pt-6">
  <p><small>
      Copyright &copy; 2020 Anthony Burns
      <br>
      <a href="https://github.com/brvs-io/brvs">Source code</a> is licensed under the <a href="https://opensource.org/licenses/mit-license.php">MIT License</a>.
    </small>
  </p>
</div>
