<% content_for :main do %>
  <main>
    <header>
      <%= render 'navbar' %>
    </header>
    <section>
      <div class="container pt-6 pb-6">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <%= render 'footer' %>
    </footer>
  <main>
<% end %>
<%= render template: 'layouts/application' %>
